.uselessClass {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

*:has(> .uselessClass) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1rem;
  height: 100dvh;
}

@media screen and (min-width: 999999px) {
  // This code will never execute, right?
  .uselessClass {
    display: none;
  }
}
